body {
  padding-top: 50px;
	background: #eee url("../img/congruent_pentagon2.png") fixed;
	font-size: 16px;
}

.navbar{
	background-color: #1d8db0;
}

.navbar-default .navbar-header .navbar-brand{
	font-weight: bold;
	color: #fff;
}

.navbar-fixed-bottom{
	z-index: 1000;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 100vh;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

#login-dp{
	padding: 5%;
}

#login-dp a{
	color: darkblue;
}

#login-dp .bottom{
	padding-top: 3%;
}

.jumbotron{
	padding-top: 10px;
	padding-bottom: 10px;
	background: url("../img/bg7.png") repeat;
}

.jumbotron p{
	/*color: #1d8db0;*/
}

.searchbar{
	margin-left: 10%;
	margin-right: 10%;
}

.workspace{
	margin-bottom: 5vh;
}

.shop .col-sm-4{
	margin-bottom: 4vh;
}

.main{
	margin-bottom: 5vh;
}

.shop .col-sm-4 .shoparticle{
	width: 100%;
	background-color: white;
	border: 5px solid #1d8db0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-radius: 0px 0px 5px 0px;
}

.shop .col-sm-4 .shoparticle h3{
	margin-top: 1%;
	margin-left: 1%;
	border-bottom: 1px solid #888888;
	font-size: 12pt;
}

.shop .col-sm-4 .shoparticle img{
	float: right;
	max-width: 20%;
}

.shop .col-sm-4 .shoparticle table{
	margin-left: 1%;
	width: 60%;
}

.container .input-group .form-control{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.farnellproduct .input-group .input-group-btn button{
	border-top-right-radius: 0px;
    color: white;
	background-color: #1d8db0;
}

.farnellproduct .input-group .input-group-btn button:hover{
    color: black;
	background-color: lightblue;
}

.mouserproduct .input-group .input-group-btn button{
	border-top-right-radius: 0px;
    color: white;
	background-color: #1d8db0;
}

.mouserproduct .input-group .input-group-btn button:hover{
    color: black;
	background-color: lightblue;
}

footer{
	background-color: #1d8db0;
	border-top: 1px solid #fff;
}

footer .container .footer-block{
	display: block;
	float: left;
	width: 50%;
}

footer .container .footer-block p{
	margin: 0px;
}

@media screen and (max-width: 480px) {
    #mobile-dissapear {
        display: none;
    }
	
	footer .container .footer-block{
		width: 100%;
	}
}
