body {
  padding-top: 50px;
	background: #eee url("../img/congruent_pentagon2.png") fixed;
	font-size: 16px;
}

.navbar{
	background-color: #1d8db0;
}

.navbar-default .navbar-header .navbar-brand{
	font-weight: bold;
	color: #fff;
}

.navbar-fixed-bottom{
	z-index: 1000;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 100vh;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/*sidepanel*/
.sidepanel {
	right: 0;
	top: 40px;
	height: 95vh; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 100; /* Stay on top */
	background-color: #f1f4f7; /* grey*/
	/* overflow-x: hidden;Disable horizontal scroll */
	overflow: auto; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the button, change color */
.sidepanel .closebtn:hover, .offcanvas .closebtn:focus{
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.3s;
	z-index: 200;
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#infopanel table{
	width: 47%;
	float: left;
	margin: 5px;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
	height: 100%;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}

#login-dp{
	padding: 5%;
}

#login-dp a{
	color: darkblue;
}

#login-dp .bottom{
	padding-top: 3%;
}

.jumbotron{
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	background: url("../img/bg7.png") repeat;
}

.jumbotron p{
	color: #333;
}

.searchbar{
	margin-left: 10%;
	margin-right: 10%;
}

.workspace{
	margin-bottom: 5vh;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/**shop loader overlay**/
#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.loader {
	color:#1d8db0;
	width: 200px;
	height: 200px;
	margin: 45vh auto auto;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.shop .col-sm-4{
	margin-bottom: 4vh;
}

.main{
	margin-bottom: 5vh;
}

#row1{
	margin-top: 25px;
}

/**.shop .col-sm-4 .shoparticle{
	width: 100%;
	background-color: white;
	border: 5px solid #1d8db0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-radius: 0px 0px 5px 0px;
}

.shop .col-sm-4 .shoparticle h3{
	margin-top: 1%;
	margin-left: 1%;
	border-bottom: 1px solid #888888;
	font-size: 12pt;
}

.shop .col-sm-4 .shoparticle img{
	float: right;
	max-width: 20%;
}

.shop .col-sm-4 .shoparticle table{
	margin-left: 1%;
	width: 60%;
}**/

/**
.container .input-group .form-control{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.farnellproduct .input-group .input-group-btn button{
	border-top-right-radius: 0px;
    color: white;
	background-color: #1d8db0;
}

.farnellproduct .input-group .input-group-btn button:hover{
    color: black;
	background-color: lightblue;
}

.mouserproduct .input-group .input-group-btn button{
	border-top-right-radius: 0px;
    color: white;
	background-color: #1d8db0;
}

.mouserproduct .input-group .input-group-btn button:hover{
    color: black;
	background-color: lightblue;
}**/

table{
	color: #5f6468;
}

footer{
	background-color: #1d8db0;
	border-top: 1px solid #fff;
	color: #333;
}

footer p{
	color: #333;
}

footer .container .footer-block{
	display: block;
	float: left;
	width: 50%;
}

footer .container .footer-block p{
	margin: 0px;
}

@media screen and (max-width: 480px) {
    #mobile-dissapear {
        display: none;
    }
	
	footer .container .footer-block{
		width: 100%;
	}
}
